<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554944219261-so4977vg54jo4gq14aq5vj0ibpcglhk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554944219261-so4977vg54jo4gq14aq5vj0ibpcglhk7</string>
	<key>API_KEY</key>
	<string>AIzaSyBFiM3EDvCcOIQXQc6mG4Vqk1aVASUoDto</string>
	<key>GCM_SENDER_ID</key>
	<string>554944219261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeromedesseaux.bibliochouette</string>
	<key>PROJECT_ID</key>
	<string>bibliochouette-7568c</string>
	<key>STORAGE_BUCKET</key>
	<string>bibliochouette-7568c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:554944219261:ios:ff50d08d8381029c</string>
	<key>DATABASE_URL</key>
	<string>https://bibliochouette-7568c.firebaseio.com</string>
</dict>
</plist>
